<form method="post" action="{{ path('evenement_planning_delete', {'id': evenement_planning.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer cet évènement du planning?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement_planning.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
