{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <h2>Se connecter</h2>
            </div>

            <form role="form" method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <input type="email" name="email" id="email" class="fadeIn second input" placeholder="Adresse email">
                <input type="password" name="password" id="password" class="fadeIn third input" placeholder="Mot de passe">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="form-group form-check fadeIn fourth">
                    <input type="checkbox" class="form-check-input" id="remember_me" name="_remember_me">
                    <label class="form-check-label" for="remember_me">Se souvenir de moi</label>
                </div>
                <input type="submit" class="fadeIn fifth" value="Se connecter">
            </form>

            <div id="formFooter">
                <a href="#" class="underlineHover">Mot de passe oublié?</a>
            </div>
        </div>
    </div>
{% endblock %}
