{% extends 'base.html.twig' %}

{% block title %}New SessionFormation{% endblock %}

{% block body %}
    <h1>Create new SessionFormation</h1>

    {{ include('session_formation/_form.html.twig') }}

    <a href="{{ path('session_formation_index') }}">back to list</a>
{% endblock %}
