<form method="post" action="{{ path('parent_facilitateur_delete', {'id': parent_facilitateur.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ parent_facilitateur.id) }}">
    <button class="btn">Delete</button>
</form>
