{% extends 'base.html.twig' %}

{% block title %} Table des formateurs {% endblock %}

{% block body %}
    <a href="{{ path('app_homepage') }}">Accueil</a>
    <h1>Table des formateurs</h1>
{% endblock %}