{% extends 'base.html.twig' %}

{% block title %} Tableau de bord {% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur le tableau de bord!</h1>
        <p class="lead">Vous êtes actuellement connecté en tant que ....</p>
        <hr class="my-4">
        <div class="container" style="display:table">
            <div class="box" style="cursor: pointer" onclick="window.location.href='{{ path('app_formateurs', {'id': 'all'}) }}'">
                <div class="icon">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <h1>Formateurs</h1>
                </div>
                <div class="content">
                    <h3>Accéder aux formateurs</h3>
                    <p>Cliquer pour accéder à la liste de tous les formateurs, leur planning, leurs formations et d'autres informations les concernant</p>
                </div>
            </div>
            <div class="box">
                <div class="icon">
                    <i class="fas fa-chalkboard-teacher"></i>
                </div>
                <div class="content">
                    <h3>Accéder aux formateurs</h3>
                    <p>lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
                </div>
            </div>
            <div class="box">
                <div class="icon">
                    <i class="fas fa-chalkboard-teacher"></i>
                </div>
                <div class="content">
                    <h3>Accéder aux formateurs</h3>
                    <p>lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
                </div>
            </div>
            <div class="box">
                <div class="icon">
                    <i class="fas fa-chalkboard-teacher"></i>
                </div>
                <div class="content">
                    <h3>Accéder aux formateurs</h3>
                    <p>lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}